body {
    background-color: #429EA6;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin: 10px;
    background-color: darkgrey;
    color: darkmagenta;
    text-align: center;
}

em {
    color: rgb(191, 233, 122);
    background-color: darkslateblue;
}

.meine-ue {
    background-color: #429EA6;
    color: blue;
}

#spezial {
    color: blueviolet;
}
.Linzeins {
    background-color: coral;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }

.Navigation ul {
    background-color: crimson;
    margin: 0;
    padding: 0;
}

.Navigation ul li {
 display: inline;
margin: 10px;
font-size: 20px;
text-decoration: none;
}

.Navigation ul li a {

   text-decoration: none;
   }