body {
    background-color: #429EA6;
}
h1 {
    background-color: darkgrey;
    color: darkmagenta;
}

em {
    color: rgb(191, 233, 122);
    background-color: darkslateblue;
}

.meine-ue {
    background-color: #429EA6;
    color: blue;
}

#spezial {
    color: blueviolet;
}