body {
    background-color: #429EA6;
}
h1 {
    margin: 0cm;
    background-color: darkgrey;
    color: darkmagenta;
}

em {
    color: rgb(191, 233, 122);
    background-color: darkslateblue;
}

.meine-ue {
    background-color: #429EA6;
    color: blue;
}

#spezial {
    color: blueviolet;
}
.Linzeins {
    background-color: coral;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    <list-style: border-image: ;;
  }