body { /*Formatierung für Hauptinhalt */
  font-size: 120%; /*Schriftgröße */
  font-family: "Helvetica Neue", Arial, sans-serif; /* Schriftart*/
  line-height: 1.4; /*Zeilenhöhe */
  color: #263238; /*Schriftfarbe */
  background-color: #ffffff; /*Hintergrundfarbe */
  margin: 0; /* Außenabstand*/
}
 h1 { /* Formatierung für die Hauptüberschrift*/
  font-size: 3rem; /* Schriftgröße*/
  font-weight: normal; /* Schriftstärke /fett*/
  text-align: center; /* Text ausrichtung */
  padding: 2rem; /*Innenabstand */
  margin: 0; /* Außenabstand*/
}
nav { /* Formatierung der Navigation*/
  background-color: #263238; /*Hintergrundfarbe */
}
nav ul { /* Formatierung der Navigation*/
  margin: 0; /* Außenabstand */
  display: flex; /* Anordnung/Skallierung*/
  list-style: none; /* Symbol für Listenzeichen*/
}
nav a { /*Jedes a/Kinderelement von nav wird formatiert */
  color: white; /*Schriftfarbe */
  text-decoration: none; /* Textausschmückung, unterstrich, überstrich, durchgestrichen, blinkend ect*/
  display: block; /*Anordnung/Skallierung */
  padding: 0.8rem; /* Innenabstand*/
}
nav a.aktuell { /*Formatierung der Klasse aktuell in a Element von Navigation */
  font-weight: bold; /*Schrift fett */
}
main { /*Formatierung des Hauptinhalts */
  max-width: 62rem; /*Beschränkt Breite des Bildschirms */
  margin: auto; /* Außenabstand*/
  display: flex; /* Anordnung/Skallierung*/
}
article { /* Formatierung der Textgruppe */
  width: 50%; /* Breite von Element*/
  margin: 0 2rem; /*Außenabstand */
}
footer { /* Formatierung der Fußzeile*/
  background-color: #263238; /*Hintergrudnfarbe */
  color: #ffffff; /* Schriftfarbe*/
  padding: 2rem; /*Innenabstand */
  margin-top: 1rem; /*Außenabstand oben */
}

img { /*Formatierung des Bildes */
  max-width: 100%; /* maximale Breite des Elements*/
  height: auto; /* Höhe des Elements*/
}
@media screen and (max-width: 530px) { /* Schränkt die Angewandte Formatierung bei Betrachtung eines Bildschrims mit der max. Breite von 530px ein*/
  main { /* Überschreibt die Formatierung des Hauptinhalts wenn Fenster <530px*/
    display: block; /*Hebt flex auf */
  }
  article { /* Überschreibung v. Textgruppen*/
    width: auto; /*Breite automatisch. */
  }
} 
